/*effect colors*/
/*effect colors*/
/*
body {
  background-image: url("../img/fondo2.jpg");
  height: 100%;
  background-size: cover;
  padding: 1px;
  gap: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-template-columns: auto;
  grid-template-rows: auto;
} */
body {
  width: 100%;
  height: 100%;
  background-size: 400% 400%;
  background-image: linear-gradient(45deg, #7E5A9B, #c2b3d4, pink);
  background-attachment: fixed;
  position: relative;
  animation: AnimationBg 5s ease infinite;
  padding: 0px !important; }

@keyframes AnimationBg {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0 50%; } }

h1 {
  position: relative;
  top: 1vh;
  right: auto;
  left: auto;
  height: auto;
  width: fit-content;
  margin-top: 1.5%;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: #7E5A9B;
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: beige;
  font-size: 30px; }

h2 {
  display: iblock;
  height: fit-content;
  width: fit-content;
  padding: 20px;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 5px;
  border-color: beige;
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  background-color: pink;
  border-radius: 20px;
  text-decoration: solid;
  color: beige;
  animation-name: animacionh2;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

@keyframes animacionh2 {
  50% {
    background-color: rosa; } }

h3 {
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-style: italic; }

h4 {
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  margin-bottom: 2%; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

/*header*/
.header {
  background-color: #FFA6D2;
  border-color: #FFA6D2;
  border-style: solid;
  border-width: 1px;
  position: sticky;
  top: 0px;
  z-index: 10; }
  .header .header__nav__ul__li {
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 2px;
    border-radius: 20%;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    color: purple;
    /*
      animation-name: coloranchors;
      animation-duration: 1.5s;
      animation-iteration-count: infinite; 
      animation-direction: alternate;
      box-shadow: 0 0 50px $buttonshadowpurple; */ }
    .header .header__nav__ul__li:hover {
      box-shadow: none; }

.ale {
  display: flex;
  justify-content: end; }

@keyframes coloranchors {
  0% {
    background-color: #a179a5; } }

.LogoUl {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  color: aqua;
  background-image: linear-gradient(45deg, #7E5A9B, #c2b3d4, pink);
  justify-content: center;
  align-items: center; }

main {
  background-color: #D4EFFF;
  height: 100%;
  width: 100%;
  padding-bottom: 50px; }

/*footer*/
.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 130px;
  width: 100%;
  background-color: #FFA6D2;
  border-color: #FFA6D2;
  border-width: 1px;
  padding-bottom: 0px;
  bottom: 0px;
  align-items: center;
  flex-direction: column; }
  .footer .footerlinks {
    display: flex;
    height: auto;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px; }
  .footer .footerdiv {
    display: flex;
    justify-content: center;
    background-color: aqua; }
  .footer .footerdiv__ul {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: #FFFF;
    font-size: 15px; }
  .footer .derechos {
    display: flex;
    justify-content: center;
    text-align: center;
    width: auto;
    height: auto;
    font-family: 'Rubik', sans-serif;
    color: #FFFF;
    font-size: 12px; }

/*effect colors*/
.ParrafoIndex, .ParrafoConocenos {
  display: flex;
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  color: #7547FD;
  margin-top: 40px;
  margin-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px; }

.Juan {
  background-color: #FFB4C2;
  border-top: solid 20px #fce0e6;
  border-bottom: solid 20px #fce0e6; }

.aside {
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  color: beige;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  margin-top: 25px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: #7E5A9B;
  align-self: center;
  border-radius: 20px; }

.cajaArticles {
  grid-area: cajaArticles;
  flex-direction: column;
  text-align: center;
  width: fit-content;
  padding: 20px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  background-color: #7E5A9B;
  border-radius: 20px; }
  .cajaArticles .articulosDeBelleza {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .cajaArticles .articulosDeBelleza .articulodebelleza {
      display: inline-flex;
      flex-direction: column;
      height: fit-content;
      width: 300px;
      padding: 30px;
      margin: 20px;
      background-color: pink;
      border-radius: 10px;
      border-width: 5px;
      border-color: #FFFFFF;
      border-style: solid;
      color: #7E5A9B;
      font-family: 'Rubik', sans-serif;
      font-style: italic; }

.VideoEstetica {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  padding: 3%; }

.ZonaTablas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0px; }

.ContainerTablaPrecios {
  text-align: center;
  display: flex;
  flex-direction: row;
  background-color: #e4a3f1;
  width: 400px;
  height: fit-content;
  border-radius: 15px;
  margin: 5% 20px 5% 20px;
  /*
    .TablaServicios{
      background-color: white;
      font-family: calibri;
      text-align: left;
        } */ }
  .ContainerTablaPrecios .TablaPrecios {
    width: 400px;
    background-color: white;
    text-align: left;
    font-family: calibri;
    border-collapse: collapse; }

Th {
  background-color: #FFB4C2;
  font-size: 20px;
  font-weight: 900;
  color: white;
  padding: 20px; }

td {
  font-weight: 500;
  font-family: calibri;
  padding: 20px; }

tr:nth-child(even) {
  background-color: #fce0e6; }

.link {
  color: white;
  text-decoration: none; }

.apa {
  text-align: right; }

.TituloTablaPrecios {
  align-self: flex-end; }

/*effect colors*/
/*effect colors*/
/*
body {
  background-image: url("../img/fondo2.jpg");
  height: 100%;
  background-size: cover;
  padding: 1px;
  gap: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-template-columns: auto;
  grid-template-rows: auto;
} */
body {
  width: 100%;
  height: 100%;
  background-size: 400% 400%;
  background-image: linear-gradient(45deg, #7E5A9B, #c2b3d4, pink);
  background-attachment: fixed;
  position: relative;
  animation: AnimationBg 5s ease infinite;
  padding: 0px !important; }

@keyframes AnimationBg {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0 50%; } }

h1 {
  position: relative;
  top: 1vh;
  right: auto;
  left: auto;
  height: auto;
  width: fit-content;
  margin-top: 1.5%;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: #7E5A9B;
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: beige;
  font-size: 30px; }

h2 {
  display: iblock;
  height: fit-content;
  width: fit-content;
  padding: 20px;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 5px;
  border-color: beige;
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  background-color: pink;
  border-radius: 20px;
  text-decoration: solid;
  color: beige;
  animation-name: animacionh2;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

@keyframes animacionh2 {
  50% {
    background-color: rosa; } }

h3 {
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-style: italic; }

h4 {
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  margin-bottom: 2%; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.perfiles {
  display: flex;
  justify-content: space-evenly; }

@media all and (max-width: 5000px) {
  .sectionchica {
    display: none;
    border-style: solid;
    border-width: 5px;
    text-align: center;
    margin-top: 10vh;
    padding: 15px;
    height: fit-content;
    width: 50%;
    background-color: lime; } }

@media all and (max-width: 768px) {
  .sectionchica {
    display: flex;
    border-style: solid;
    border-width: 10px 0px 10px 0px;
    border-color: beige;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: opx;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    height: fit-content;
    width: 100%;
    background-color: #FFD1C3; } }

.card {
  background-color: #ffd1c3 !important; }

@media all and (max-width: 768px) {
  .card {
    display: none !important; } }

/*
.maparea {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    margin: auto;
    padding-top: 1px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 20px;
    border-style: solid;
    border-color: rgb(255, 72, 0);
    background-color: map-get($coloresGenerales, moradomedio) ;
  }*/
.FormContacto {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: start;
  width: fit-content;
  background-color: #715C8A;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: calibri;
  Color: white; }

.TituloFormContacto {
  font-family: calibri;
  font-size: 22px;
  margin-bottom: 20px; }

.campos {
  display: flex;
  flex-wrap: wrap;
  background-color: #715C8A;
  padding: auto;
  width: auto;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; }

.forms {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 20px;
  width: 350px;
  background-color: #715C8A; }

.TextAreaCont {
  display: flex;
  flex-direction: column;
  width: 350px;
  text-align: center;
  flex-direction: column;
  background-color: #715C8A; }

.LabelTextAreaCont {
  font-family: calibri;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px; }

.CampoTexto {
  font-family: calibri;
  font-size: 20px;
  font-weight: 600; }

.BotonFormContacto {
  display: flex;
  width: 120px;
  background-color: #8569ab;
  border: 0;
  letter-spacing: 1px;
  border-radius: 4px;
  padding: 10px;
  color: #ffff;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: calibri;
  font-weight: 600;
  justify-content: center;
  align-self: center; }

@media all and (max-width: 700px) {
  .forms {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 0px;
    width: 350px;
    background-color: #715C8A; } }

/*
  .FormularioContacto{
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
   padding-bottom: 0px;
    margin-top: 10%;  
    margin-left: auto;
    margin-right: auto;
    background-color: #ffd1c3 ;
    border-color: map-get($coloresGenerales, marfil) ;
    border-width: 60px;
  }
  */
/* yt video */
/*
  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 800px;
    width: 800px;
}
*/
/*
.TituloFormTurnos {
    display: flex;   
    justify-content: center;
    padding-bottom: 0.3%;
    
    @include FuenteTituloSm ;
}*/
/*
.Turnero {
    @extend .FormularioContacto

   }*/
.MainTurnos {
  display: flex;
  flex-direction: column; }

.PTurnos {
  display: flex;
  color: #622C9E;
  background-color: #c2b3d48a;
  width: 100%;
  text-align: center;
  font-size: 30px !important;
  font-family: calibri;
  font-size: 20px;
  font-weight: 600; }

.Turnero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center !important;
  width: 600px;
  background-color: #715C8A;
  padding: 5px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: calibri;
  Color: white; }

.TituloFormTurnos {
  font-family: calibri;
  font-size: 22px;
  margin-bottom: 20px; }

.campo {
  font-family: calibri;
  font-size: 20px;
  font-weight: 600; }

.campo2 {
  width: 100%;
  background-color: #FFFF;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 16px;
  font-family: calibri;
  border-color: #FFFF;
  font-size: 18px;
  writing-mode: horizontal-tb !important; }
  .campo2:hover {
    box-shadow: 0px 0px 20px #c2b3d4 !important; }

.enviar {
  display: flex;
  width: 120px;
  background-color: #8569ab;
  border: 0;
  letter-spacing: 1px;
  border-radius: 4px;
  padding: 10px;
  color: #ffff;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: calibri;
  font-weight: 600;
  justify-content: center;
  align-self: center; }

@media all and (max-width: 618px) {
  .MainTurnos {
    display: flex;
    flex-direction: column; }
  .PTurnos {
    display: flex;
    color: #622C9E;
    background-color: #c2b3d48a;
    width: 100%;
    text-align: center;
    font-size: 30px !important;
    font-family: calibri;
    font-size: 20px;
    font-weight: 600; }
  .Turnero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    background-color: #715C8A;
    padding: 5px;
    margin: auto;
    margin-top: 100px;
    font-family: calibri;
    Color: white; }
  .TituloFormTurnos {
    font-family: calibri;
    font-size: 22px;
    margin-bottom: 20px; }
  .campo {
    font-family: calibri;
    font-size: 20px;
    font-weight: 600; }
  .campo2 {
    width: 100%;
    background-color: #FFFF;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 16px;
    font-family: calibri;
    border-color: #FFFF;
    font-size: 18px;
    writing-mode: horizontal-tb !important; }
    .campo2:hover {
      box-shadow: 0px 0px 20px #c2b3d4 !important; }
  .enviar {
    display: flex;
    width: 120px;
    background-color: #8569ab;
    border: 0;
    letter-spacing: 1px;
    border-radius: 4px;
    padding: 10px;
    color: #ffff;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: calibri;
    font-weight: 600;
    justify-content: center;
    align-self: center; } }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }
