/*
.maparea {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    margin: auto;
    padding-top: 1px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 20px;
    border-style: solid;
    border-color: rgb(255, 72, 0);
    background-color: map-get($coloresGenerales, moradomedio) ;
  }*/
  
 
  .FormContacto {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: start;
    width: auto;
    background-color: #715C8A;
    padding: 0px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: calibri;
    Color: white;
    .TituloFormContacto {
      font-family: calibri;
      font-size: 22px;
      margin-bottom: 20px;
  }
  .campos {
    display: flex;
    flex-wrap: wrap;
    background-color: #715C8A;
    padding: auto;
    width:auto;   
    flex-direction: row;
    justify-content: center;
    .forms {
      display: flex;
      flex-direction: column;
      align-self: start;
      width: 350px;
      background-color: #715C8A;
    }
    .TextAreaCont {
      display: flex;
      width:350px ;
      text-align: center;
      flex-direction: column;
      background-color: #715C8A;
      .LabelTextAreaCont{
         margin-bottom: 5px;
      }
    }
  }
  .BotonFormContacto {
    @extend .enviar
  }
  }





  /*
  .FormularioContacto{
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
   padding-bottom: 0px;
    margin-top: 10%;  
    margin-left: auto;
    margin-right: auto;
    background-color: #ffd1c3 ;
    border-color: map-get($coloresGenerales, marfil) ;
    border-width: 60px;
  }
  */
  /* yt video */

/*
  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 800px;
    width: 800px;
}
*/

