.maparea {
    display: block;
    height: fit-content;
    width: fit-content;
    margin: auto;
    padding-top: 1px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 20px;
    background-color: map-get($coloresGenerales, moradomedio) ;
  }

  .FormularioContacto{
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
   padding-bottom: 20px;
    margin-top: 10%;  
    margin-left: auto;
    margin-right: auto;
    background-color: #ffd1c3 ;
    border-color: map-get($coloresGenerales, marfil) ;
    border-width: 60px;
  }