@import "colors" ;
@import "general" ;
.sectionchica {
    display: iblock;
    border-style: solid;
    border-width: 5px;
    border-color: $beige;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    height: fit-content;
    width: 50%;
    background-color: $bgchica;
    border-radius: 50px;
  }

  .ParrafoConocenos {
    @extend .ParrafoIndex
  }