@import "colors" ;

body {
  background-image: url("../img/fondo2.jpg");
  height: 100%;
  background-size: cover;
  padding: 1px;
  gap: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

h1 {
    position: relative;
    top: 1vh;
    right: auto;
    left: auto;
    height: auto;
    width: fit-content;
    margin-top: 1.5%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #7E5A9B;
    font-family: 'Rubik', sans-serif;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: beige;
    font-size: 30px
  }
  
  h2 {
    display: iblock;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 5px;
    border-color: beige;
    font-family: 'Rubik', sans-serif;
    font-style: italic;
    background-color: pink;
    border-radius: 20px;
    text-decoration: solid;
    color: beige;
    animation-name: animacionh2;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes animacionh2 {
    50% {
      background-color: rgb(238, 145, 222);
    }
  }
  
  h3 {
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    font-style: italic;
  }
  
  h4 {
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    font-style: italic;
    margin-bottom: 2%;
  }
  
  p {
    font-family: 'Rubik', sans-serif;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    color: beige;
     }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  .FormularioContacto{
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    padding: 20px;
    margin-top: 10%;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: #7E5A9B;
    border-color: $beige;
    border-width: 5px;
  }

 .Turnero {
  @extend .FormularioContacto
 }