  /*header*/

.header {
    background-color: #FFA6D2 ;
    border-color: #FFA6D2;
    border-style: solid;
    border-width: 1px;
    position: sticky;
    top: 0px;
    z-index: 10;

    .header__nav__ul__li {
      display: flex;
      height: fit-content;
      width: fit-content;
      padding: 2px;
      margin: 10px;
      border-radius: 20%;
      font-family: 'Rubik', sans-serif;
      text-decoration: none;
      color: purple;
      /*
      animation-name: coloranchors;
      animation-duration: 1.5s;
      animation-iteration-count: infinite; 
      animation-direction: alternate;
      box-shadow: 0 0 50px $buttonshadowpurple; */

  
      &:hover {
        box-shadow: none; 
     }
    }
  }
  
  .ale{
    display:flex;
    justify-content: end;
    
  }
  @keyframes coloranchors {
    0% {
      background-color: $buttonanimationpurple;
    }
  }
.LogoUl {
  display:flex ;
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  color: aqua;
  background-image: linear-gradient(45deg, #7E5A9B, #c2b3d4,pink, );
  justify-content: center;
  align-items: center;  
}

main {
 background-color: #D4EFFF;
  height: 100%;
  width: 100% ;
  ;  
}

/*footer*/

.footer {
    display: flex;
    position: relative;
    height: 200px;
    width: 100%; 
    background-color: #FFA6D2;
    border-color:  #FFA6D2 ;
    border-width: 1px ;
    padding-bottom: 0px;
    bottom: 0px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  
    .footerlinks {
      height: 50px;
      width: 400px;
      padding-left: 30px;
      margin-top: 2px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 0px;
    }
  
    .footerdiv__ul {
      display:flex;
      text-align: start;
      font-family: 'Rubik', sans-serif;
      color: map-get($coloresGenerales, beige);
      font-size: 15px;
    }
  
    .derechos {
      display:flex;
      text-align: end;
      width: auto;
      height: auto;
      font-family: 'Rubik', sans-serif;
      color: map-get($coloresGenerales, beige);
      font-size: 12px;
    }
  }
