
  

.ZonaTablas{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0px;
  
}
  .ContainerTablaPrecios {
    text-align: center;
    display:flex;
    flex-direction: row;
    background-color: rgb(228, 163, 241);
    width:400px;
    height: fit-content;
    
    border-radius: 15px;
   margin: 5% 20px 5% 20px;
    /*
    .TablaServicios{
      background-color: white;
      font-family: calibri;
      text-align: left;
        } */
        .TablaPrecios {
          width: 400px;
          background-color: white;
          text-align: left;
          font-family: calibri;
          border-collapse: collapse;         
           }
  }
Th {
  background-color: #FFB4C2;
  font-size: 20px;
  font-weight: 900;
    color: white;
  padding: 20px;
     
  }
  td{
    font-weight:500;
    font-family: calibri;
    padding: 20px;
      }
  tr:nth-child(even) {
    background-color: #fce0e6;

  }
  /*aca trate de mostrar que es un link de la manera mas sutil posible */
.link{
  color: white;
  text-decoration: none;
  text-decoration: underline;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 50px;
  &:hover {
    color: white;
    text-decoration: none;
   }
}

  .apa {
   text-align: right;
  }
  .TituloTablaPrecios{
    align-self:flex-end ;
  }