
  


  .ContainerTablaPrecios {
    background-color: aquamarine;
    width:600px;
    margin: 150px auto;
    /*
    .TablaServicios{
      background-color: white;
      font-family: calibri;
      text-align: left;
        } */
        .TablaPrecios {
          width: 100%;
          background-color: white;
          text-align: left;
          font-family: calibri;
          border-collapse: collapse;
          border-radius: 5px;
        }
  }
Thead {
  background-color: #FFB4C2;
   color: white;
  }
  th,td{
    padding: 20px;
      }
  tr:nth-child(even) {
    background-color: #ffecf0;

  }
  .apa {
    text-align: right;
  }