@import "mixin" ;

/*
.TituloFormTurnos {
    display: flex;   
    justify-content: center;
    padding-bottom: 0.3%;
    
    @include FuenteTituloSm ;
}*/
/*
.Turnero {
    @extend .FormularioContacto

   }*/
.Turnero{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    background-color: rgb(148, 28, 88);
    padding: 30px;
    margin: auto;
    margin-top:100px ;
    border-radius: 4px;
    font-family: calibri;
    Color :white;
    .TituloFormTurnos {
        font-size: 22px;
        margin-bottom: 20px;
    }
}


   .MainTurnos {
    display: flex;
    flex-direction: column;
    padding: 20px;
   }

   .campo {
    background-color: aquamarine;
   }

   .campo2 {
    width: 100%;
    background-color: rgb(13, 86, 104);
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 16px;
    border: 1px solid red;
    font-family: calibri;
    font-size: 18px;
    writing-mode: horizontal-tb !important;
  

   }