@import "mixin";

/*
.TituloFormTurnos {
    display: flex;   
    justify-content: center;
    padding-bottom: 0.3%;
    
    @include FuenteTituloSm ;
}*/
/*
.Turnero {
    @extend .FormularioContacto

   }*/

.Pform {
    display: flex;
    color: #622C9E;
    text-align: center;
    font-size: 30px !important;
    @extend .campo
}

.Turnero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    background-color: #715C8A;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: calibri;
    Color: white;

    .TituloFormTurnos {
        font-size: 22px;
        margin-bottom: 20px;
    }
}


.MainTurnos {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.campo {
    font-family: calibri;
    font-size: 20px;
    font-weight: 600;
}

.campo2 {
    width: 100%;
    background-color: #FFFF;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 16px;
    font-family: calibri;
    border-color: #FFFF;
    font-size: 18px;
    writing-mode: horizontal-tb !important;


}

.enviar {
    width: 120px;
    background-color: #8569ab;
    border: 0;
    letter-spacing: 1px;
    border-radius: 4px;
    padding: 10px;
    color: #ffff;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: calibri;
    font-weight: 600;
}