

@import "mixin";
@import "colors";
@import "general";
@import "header&footer";
@import "index";
@import "servicios";
@import "conocenos";
@import "contacto";
@import "turnos";
@import "variables" ;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box
}