* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box
}

@import "general" ;
@import "colors" ;

.header {
  color: $blanco;
  background-color: $ligthpurple;
  position: sticky;
  top: 0px;
  z-index: 10;

  .header__nav__ul__li {
    position: relative;
    display: inline-block;
    height: fit-content;
    width: fit-content;
    padding: 2px;
    background-color: $bgpurple ;
    margin: 1px;
    border-color: $blanco;
    border-style: solid;
    font-family: 'Rubik', sans-serif;
    border-radius: 20px;
    text-decoration: none;
    color: $blanco;
    animation-name: coloranchors;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    &:hover {
      box-shadow: 0 0 35px $buttonshadowpurple;
      
    }
  }
}

@keyframes coloranchors {
  0% {
    background-color: $buttonanimationpurple;
  }
}

.li {
  align-self: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block
}

.body_index {

  background-image: url("../img/fondo2.jpg");
  height: 100%;
  background-size: cover;
  padding: 1px;
  gap: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-template-columns: auto;
  grid-template-rows: auto;

}
.promos {
  text-align: center;
  background-color: $pink;
  padding: 20px;
  width: fit-content;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  color: $blanco;
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  border-radius: 20px;
}

.aside {
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  color: $beige;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  margin-top: 25px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color:$mediumpurple;
  align-self: center;
  border-radius: 20px;
}

.cajaArticles {
  grid-area: cajaArticles;
  flex-direction: column;
  text-align: center;
  width: fit-content;
  padding: 20px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  background-color: $mediumpurple;
  border-radius: 20px;
  .articulosDeBelleza {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .articulodebelleza {
      display: inline-flex;
      flex-direction: column;
      height: 200px;
      width: 300px;
      padding: 30px;
      margin: 20px;
      background-color: $pink;
      border-radius: 10px;
      border-width: 5px;
      border-color: $blanco;
      border-style: solid;
      color: $blanco;
      font-family: 'Rubik', sans-serif;
      font-style: italic;
    }
  }
}

.VideoEstetica {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  padding: 3%;
}

/*cada pagina va a tener su propio scss con las partes que se repite (header, footer, etc. en la de el index o main)*/

.body_conocenos {
  background-image: url("../img/fondo2.jpg");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.tablaprecios {
  align-self: center;
}

.maparea {
  display: block;
  height: fit-content;
  width: fit-content;
  margin: auto;
  padding-top: 1px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-width: 20px;
  background-color: $mediumpurple;
}

.precioServicios {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  text-align: center;
  color: $beige;
  background-color: $pink;
  width: fit-content;
  padding: 2px;
  margin: 20px auto 20px auto;
  border-radius: 5px;
}

.sectionchica {
  display: iblock;
  border-style: solid;
  border-width: 5px;
  border-color: $beige;
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  height: fit-content;
  width: 50%;
  background-color: $bgchica;
  border-radius: 50px;
}

.footer {
  position: relative;
  margin-top: 20px;
  height: 200px;
  width: 100%;
  background-color: $footerpurple ;
  padding-bottom: 0px;
  bottom: 0px;
  grid-area: footer;
  .footerlinks {
    height: 50px;
    width: 400px;
    padding-left: 30px;
    margin-top: 2px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px;
  }
  .footerdiv__ul {
    text-align: start;
    font-family: 'Rubik', sans-serif;
    color: $beige;
    font-size: 15px;
  }
    .derechos {
    text-align: end;
    width: auto;
    height: auto;
    font-family: 'Rubik', sans-serif;
    color: $beige;
    font-size: 12px;
  }
}



